In [1]:
import pandas as pd

In [2]:
fert_df = pd.read_csv('Punjab 77th round.csv',index_col="Total monthly consumption expenditure (INR)")
lit_df = pd.read_csv('Punjab 77th round.csv',index_col="Total Monthly Income (INR)")

In [3]:
print(fert_df.head())

                                                 HHID  HH size  Socialgroup  \
Total monthly consumption expenditure (INR)
13000                                        72500201        4            9
9500                                         72500202        5            3
22000                                        72500301        5            9
18750                                        72500302        8            9
28400                                        72500401        8            9

                                             Religion  HHclassification  \
Total monthly consumption expenditure (INR)
13000                                               4                 7
9500                                                1                 7
22000                                               1                 6
18750                                               4                 1
28400                                               4                 1

                                             Land owned (hectares)  \
Total monthly consumption expenditure (INR)
13000                                                        0.126
9500                                                         0.012
22000                                                        0.429
18750                                                        0.842
28400                                                       13.649

                                             Land possessed (hectares)  \
Total monthly consumption expenditure (INR)
13000                                                            0.126
9500                                                             0.012
22000                                                            0.429
18750                                                            0.842
28400                                                           13.649

                                             Monthly income from non farm activity (INR)  \
Total monthly consumption expenditure (INR)
13000                                                                                0.0
9500                                                                                 0.0
22000                                                                                0.0
18750                                                                                0.0
28400                                                                                0.0

                                             Monthly income from wage employment (INR)  \
Total monthly consumption expenditure (INR)
13000                                                                        10000.000
9500                                                                          6666.667
22000                                                                        40833.330
18750                                                                            0.000
28400                                                                            0.000

                                             Monthly income from farming of animals (INR)  \
Total monthly consumption expenditure (INR)
13000                                                                            6733.333
9500                                                                             3966.667
22000                                                                               0.000
18750                                                                           10966.670
28400                                                                            -300.000

                                             Monthly income from crop production (INR)  \
Total monthly consumption expenditure (INR)
13000                                                                         6393.750
9500                                                                             0.000
22000                                                                         7941.667
18750                                                                         6522.500
28400                                                                       138274.300

                                             Total Monthly Income (INR)  \
Total monthly consumption expenditure (INR)
13000                                                          23127.08
9500                                                           10633.33
22000                                                          48775.00
18750                                                          17489.17
28400                                                         137974.30

                                             Frequency weight
Total monthly consumption expenditure (INR)
13000                                                    1664
9500                                                     1664
22000                                                    1152
18750                                                    1152
28400                                                     448

In [4]:
print(lit_df.head())

                                HHID  HH size  Socialgroup  Religion  \
Total Monthly Income (INR)
23127.08                    72500201        4            9         4
10633.33                    72500202        5            3         1
48775.00                    72500301        5            9         1
17489.17                    72500302        8            9         4
137974.30                   72500401        8            9         4

                            HHclassification  Land owned (hectares)  \
Total Monthly Income (INR)
23127.08                                   7                  0.126
10633.33                                   7                  0.012
48775.00                                   6                  0.429
17489.17                                   1                  0.842
137974.30                                  1                 13.649

                            Land possessed (hectares)  \
Total Monthly Income (INR)
23127.08                                        0.126
10633.33                                        0.012
48775.00                                        0.429
17489.17                                        0.842
137974.30                                      13.649

                            Total monthly consumption expenditure (INR)  \
Total Monthly Income (INR)
23127.08                                                          13000
10633.33                                                           9500
48775.00                                                          22000
17489.17                                                          18750
137974.30                                                         28400

                            Monthly income from non farm activity (INR)  \
Total Monthly Income (INR)
23127.08                                                            0.0
10633.33                                                            0.0
48775.00                                                            0.0
17489.17                                                            0.0
137974.30                                                           0.0

                            Monthly income from wage employment (INR)  \
Total Monthly Income (INR)
23127.08                                                    10000.000
10633.33                                                     6666.667
48775.00                                                    40833.330
17489.17                                                        0.000
137974.30                                                       0.000

                            Monthly income from farming of animals (INR)  \
Total Monthly Income (INR)
23127.08                                                        6733.333
10633.33                                                        3966.667
48775.00                                                           0.000
17489.17                                                       10966.670
137974.30                                                       -300.000

                            Monthly income from crop production (INR)  \
Total Monthly Income (INR)
23127.08                                                     6393.750
10633.33                                                        0.000
48775.00                                                     7941.667
17489.17                                                     6522.500
137974.30                                                  138274.300

                            Frequency weight
Total Monthly Income (INR)
23127.08                                1664
10633.33                                1664
48775.00                                1152
17489.17                                1152
137974.30                                448

In [5]:
merged_df = pd.merge(fert_df,lit_df, on="HHID", how ="inner")#inner is intersection, outer is union, left and right try

In [6]:
print(merged_df.head())

       HHID  HH size_x  Socialgroup_x  Religion_x  HHclassification_x  \
0  72500201          4              9           4                   7
1  72500202          5              3           1                   7
2  72500301          5              9           1                   6
3  72500302          8              9           4                   1
4  72500401          8              9           4                   1

   Land owned (hectares)_x  Land possessed (hectares)_x  \
0                    0.126                        0.126
1                    0.012                        0.012
2                    0.429                        0.429
3                    0.842                        0.842
4                   13.649                       13.649

   Monthly income from non farm activity (INR)_x  \
0                                            0.0
1                                            0.0
2                                            0.0
3                                            0.0
4                                            0.0

   Monthly income from wage employment (INR)_x  \
0                                    10000.000
1                                     6666.667
2                                    40833.330
3                                        0.000
4                                        0.000

   Monthly income from farming of animals (INR)_x  ...  Religion_y  \
0                                        6733.333  ...           4
1                                        3966.667  ...           1
2                                           0.000  ...           1
3                                       10966.670  ...           4
4                                        -300.000  ...           4

   HHclassification_y  Land owned (hectares)_y  Land possessed (hectares)_y  \
0                   7                    0.126                        0.126
1                   7                    0.012                        0.012
2                   6                    0.429                        0.429
3                   1                    0.842                        0.842
4                   1                   13.649                       13.649

   Total monthly consumption expenditure (INR)  \
0                                        13000
1                                         9500
2                                        22000
3                                        18750
4                                        28400

   Monthly income from non farm activity (INR)_y  \
0                                            0.0
1                                            0.0
2                                            0.0
3                                            0.0
4                                            0.0

   Monthly income from wage employment (INR)_y  \
0                                    10000.000
1                                     6666.667
2                                    40833.330
3                                        0.000
4                                        0.000

   Monthly income from farming of animals (INR)_y  \
0                                        6733.333
1                                        3966.667
2                                           0.000
3                                       10966.670
4                                        -300.000

   Monthly income from crop production (INR)_y  Frequency weight_y
0                                     6393.750                1664
1                                        0.000                1664
2                                     7941.667                1152
3                                     6522.500                1152
4                                   138274.300                 448

[5 rows x 25 columns]

In [7]:
print(merged_df)

         HHID  HH size_x  Socialgroup_x  Religion_x  HHclassification_x  \
0    72500201          4              9           4                   7
1    72500202          5              3           1                   7
2    72500301          5              9           1                   6
3    72500302          8              9           4                   1
4    72500401          8              9           4                   1
..        ...        ...            ...         ...                 ...
880  72979302          4              9           4                   1
881  72979401          5              9           4                   1
882  72979402          6              9           4                   1
883  72979501          5              9           4                   1
884  72979502          7              9           4                   1

     Land owned (hectares)_x  Land possessed (hectares)_x  \
0                      0.126                        0.126
1                      0.012                        0.012
2                      0.429                        0.429
3                      0.842                        0.842
4                     13.649                       13.649
..                       ...                          ...
880                    0.931                        0.931
881                    1.438                        1.438
882                    1.660                        1.660
883                    1.013                        7.088
884                    4.131                        4.941

     Monthly income from non farm activity (INR)_x  \
0                                              0.0
1                                              0.0
2                                              0.0
3                                              0.0
4                                              0.0
..                                             ...
880                                            0.0
881                                            0.0
882                                            0.0
883                                            0.0
884                                            0.0

     Monthly income from wage employment (INR)_x  \
0                                      10000.000
1                                       6666.667
2                                      40833.330
3                                          0.000
4                                          0.000
..                                           ...
880                                        0.000
881                                    16000.000
882                                        0.000
883                                        0.000
884                                     3450.000

     Monthly income from farming of animals (INR)_x  ...  Religion_y  \
0                                          6733.333  ...           4
1                                          3966.667  ...           1
2                                             0.000  ...           1
3                                         10966.670  ...           4
4                                          -300.000  ...           4
..                                              ...  ...         ...
880                                        2683.333  ...           4
881                                        1440.000  ...           4
882                                       -1666.667  ...           4
883                                        4406.667  ...           4
884                                       13050.000  ...           4

     HHclassification_y  Land owned (hectares)_y  Land possessed (hectares)_y  \
0                     7                    0.126                        0.126
1                     7                    0.012                        0.012
2                     6                    0.429                        0.429
3                     1                    0.842                        0.842
4                     1                   13.649                       13.649
..                  ...                      ...                          ...
880                   1                    0.931                        0.931
881                   1                    1.438                        1.438
882                   1                    1.660                        1.660
883                   1                    1.013                        7.088
884                   1                    4.131                        4.941

     Total monthly consumption expenditure (INR)  \
0                                          13000
1                                           9500
2                                          22000
3                                          18750
4                                          28400
..                                           ...
880                                        12100
881                                        18767
882                                        35750
883                                        28417
884                                        29333

     Monthly income from non farm activity (INR)_y  \
0                                              0.0
1                                              0.0
2                                              0.0
3                                              0.0
4                                              0.0
..                                             ...
880                                            0.0
881                                            0.0
882                                            0.0
883                                            0.0
884                                            0.0

     Monthly income from wage employment (INR)_y  \
0                                      10000.000
1                                       6666.667
2                                      40833.330
3                                          0.000
4                                          0.000
..                                           ...
880                                        0.000
881                                    16000.000
882                                        0.000
883                                        0.000
884                                     3450.000

     Monthly income from farming of animals (INR)_y  \
0                                          6733.333
1                                          3966.667
2                                             0.000
3                                         10966.670
4                                          -300.000
..                                              ...
880                                        2683.333
881                                        1440.000
882                                       -1666.667
883                                        4406.667
884                                       13050.000

     Monthly income from crop production (INR)_y  Frequency weight_y
0                                       6393.750                1664
1                                          0.000                1664
2                                       7941.667                1152
3                                       6522.500                1152
4                                     138274.300                 448
..                                           ...                 ...
880                                     9386.500                 489
881                                    17182.420                1173
882                                    17004.000                1173
883                                    19373.580                2053
884                                    71569.660                2053

[885 rows x 25 columns]

In [8]:
total_female_df = merged_df[["Total monthly consumption expenditure (INR)", "Total Monthly Income (INR)"]]

In [9]:
print(total_female_df.head())

   Total monthly consumption expenditure (INR)  Total Monthly Income (INR)
0                                        13000                    23127.08
1                                         9500                    10633.33
2                                        22000                    48775.00
3                                        18750                    17489.17
4                                        28400                   137974.30

In [10]:
total_female_corr = total_female_df["Total monthly consumption expenditure (INR)"].corr(total_female_df["Total Monthly Income (INR)"])# a corr b and b corr a are equal
print(total_female_corr)

0.3990785768316233